body::before {
    display: block;
    content: '';
    height: 60px;
}

#showcase-image {
    filter: invert(50%) sepia(87%) saturate(454%) hue-rotate(140deg) brightness(88%) contrast(87%);
}

h2, h3, p {
    margin-bottom: 30px;
}

input {
    margin-right: 10px;
}

.accordion-button {
    font-size: 17px;
}

.accordion-button:not(.collapsed) {
    background-color: #343a40;
    color: #f8f9fa;
}

.accordion-item {
    border: 1px solid #b1b1b1;
}

.accordion-item a {
    color: #343a40;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(100);
}

.accordion-button:focus {
    box-shadow: inherit;
}

footer .container p {
    font-size: 16px;
}

select {
    width: 100%;
    height: 40px;
    text-align: center;
}

#back-to-top {
    color: #f8f9fa;
}

@media (max-width: 767px) {
    body {
        margin: auto -25px;
    }
    #main-title-text {
        margin: auto 30px;
    }
    #showcase-image {
        margin-top: 25px;
        height: 80px;
    }
    .modal {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}