html, body {
    overflow-x: hidden;
    max-width: 100vw;
}

body::before {
    display: block;
    content: '';
    height: 50px;
}

#showcase-image {
    filter: invert(50%) sepia(87%) saturate(454%) hue-rotate(140deg) brightness(88%) contrast(87%);
}

h2, h3, p {
    margin-bottom: 15px;
}

input {
    margin-right: 10px;
}

.container2 {
    overflow-x: hidden;
}

.accordion-button {
    font-size: 17px;
}

.accordion-button:not(.collapsed) {
    background-color: #343a40;
    color: #f8f9fa;
}

.accordion-item {
    border: 1px solid #b1b1b1;
}

.accordion-item a {
    color: #343a40;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(100);
}

.accordion-button:focus {
    box-shadow: inherit;
}

footer .container p {
    font-size: 16px;
}

select {
    width: 100%;
    height: 40px;
    text-align: center;
}

#back-to-top {
    color: #f8f9fa;
}

@media (max-width: 767px) {
    nav a {
        text-align: center;
    }
    h1 {
        margin-top: 30px;
    }
    .card, #learn-training, #learn-nutrition, #learn-coaching, .accordion-item {
        margin: auto -25px;
    }
    #newsletter-title {
        font-size: 18px;
    }
    #main-title-text {
        margin: auto 30px;
    }
    #showcase-image {
        margin: 25px auto;
        height: 80px;
    }
    .modal {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}